@import "fonts";
@import "compass/css3";
@import "weather-bg";
@import "compass/reset";
@import "font-awesome.scss";

$nav-width: 50px;

html {
	-webkit-text-size-adjust: none;
	width: 100%;
	height: 100%;
	cursor: default;
	overflow: hidden;
}

div.slide {
	position: absolute;
	left: 0%;
	right: 0%;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center center;
	
	@include transition-property(left, right);
	@include transition-duration(2000ms);
	
	div.container {
		display: table;
		position: relative;
		height: 100%;
		width: 100%;
		
		div.location {
			position: absolute;
			top: 20px;
			right: $nav-width + 20px;
			
			color: #f4f4f4;
			font-size: 50px;
			font-family: "Champagne Limousines";
			font-weight: bold;
			@include text-shadow(5px 5px 10px black); 
		}
		
		div.temp {
			position: absolute;
			top: 0px;
			left: $nav-width + 10px;
			
			color: #f4f4f4;
			font-size: 100px;
			font-family: "Champagne Limousines";
			@include text-shadow(2px 2px 4px rgba(0,0,0,0.65));
		}
		
		div.condition {
			position: absolute;
			top: 100px;
			left: $nav-width + 40px;
			
			font-size: 70px;
			font-family: "Champagne Limousines";
			color: white;
			@include text-shadow(2px 2px 4px black);
		}
		
		@mixin sub-info {
			position: absolute;
			left: $nav-width + 40px;
			
			padding: 5px;
			@include border-radius(5px);
			
			font-size: 50px;
			font-family: "Espacio";
			color: white;
			@include text-shadow(2px 2px 4px black);
			
			strong {
				font-weight: bold;
			}
			
			@include transition-property(background);
			@include transition-duration(300ms);
			
			&:hover {
				background: rgba(0,0,0,0.7);
			}
		}
		
		div.humidity {
			top: 170px;
			
			@include sub-info;
		}
		
		div.wind {
			top: 230px;
			
			@include sub-info;
		}
		
		div.strut {
			width: 0px;
			height: 740px;
		}
		
		div.forecast-container {
			display: table-cell;
			vertical-align: middle;
			
			div.forecast {
				vertical-align: middle;
				height: 150px;
				left: $nav-width;
				right: $nav-width;
				
				text-align: center;
				font-family: sans-serif;
				
				background: rgba(0,0,0,0.7);
				@include box-shadow(0px 5px 20px rgba(0,0,0,0.7));
				
				span.forecast-item {
					display: inline-block;
					@include border-radius(5px);
					height: 100%;
					width: 125px;
					background-size: cover;
						
					span.forecast-item-content {
						display: block;
						@include border-radius(5px);
						position: relative;
						background: rgba(255,255,255,0.6);
						height: 100%;
						width: 100%;
						
						h1 {
							font-weight: bold;
							padding: 3px 0px;
							background: rgba(106,106,106,0.6);
							margin-bottom: 5px;
						}
						
						span.temp-high {
							display: block;
							font-size: 40px;
							font-family: "Champagne Limousines";
						}
						span.temp-low {
							display: block;
							font-size: 25px;
							font-family: "Champagne Limousines";
							color: #838383;
						}
						
						span.forecast-condition {
							display: block;
							position: absolute;
							bottom: 5px;
							width: 100%;
							
							font-family: "Espacio";
							font-size: 20px;
						}
					}
				}
			}
		}
	}
	
	&.hidden-right {
		right: -100%;
		left: 100%;
		z-index: -1000;
	}
	&.hidden-left {
		left: -100%;
		right: 100%;
		z-index: -1000;
	}
}

div.tabs {
	position: absolute;
	bottom: 0px;
	width: 100%;
	text-align: center;
	
	span.tab {
		display: inline-block;
		cursor: pointer;
		background-color: rgba(255,255,255,0.8);
		margin: 0px 7px;
		padding: 6px 15px;
		font-family: "Champagne Limousines";
		font-size: 25px;
		
		@include border-radius(5px 5px 0px 0px);
		@include box-shadow(3px 3px 5px rgba(0,0,0,0.7));
		
		@include transition-property(transform, box-shadow);
		@include transition-duration(200ms);
		
		&:hover {
			@include transform(scale(1.05,1.05));
			//@include box-shadow(3px 3px 10px rgba(0,0,0,0.7));
		}
		
		&.active {
			color: #e0e0e0;
			$baseColor: #355dff;
			@include background(linear-gradient($baseColor 0%, darken($baseColor, 20%) 100%));
		}
	}
}

div.nav {
	position: absolute;
	height: 100%;
	width: $nav-width;
	background-color: black;
	display: table;
	text-align: center;
	cursor: pointer;
	
	@include transition-property(width);
	@include transition-duration(300ms);
	
	&:hover {
		width: $nav-width + 10px;
		
		i {
			font-size: 360%;
		}
	}
	
	&.left {
		left: 0px;
	}
	&.right {
		right: 0px;
	}
	
	span {
		display: table-cell;
		vertical-align: middle;
		height: 100%;
		i {
			color: white;
			
			@include transition-property(font-size);
			@include transition-duration(300ms);
		}
	}
}