.code0 {
	background-image: url(../img/weather-bg/tornado.jpg);
}

.code1 {
	background-image: url(../img/weather-bg/tropical-storm.jpg);
}

.code2 {
	background-image: url(../img/weather-bg/hurricane.jpg);
}

.code3 {
	background-image: url(../img/weather-bg/thunderstorm.jpg);
}

.code4 {
	background-image: url(../img/weather-bg/thunderstorm.jpg);
}

.code5 {
	background-image: url(../img/weather-bg/sleet.jpg);
}

.code6 {
	background-image: url(../img/weather-bg/sleet.jpg);
}

.code7 {
	background-image: url(../img/weather-bg/sleet.jpg);
}

.code8 {
	background-image: url(../img/weather-bg/light-rain.jpg);
}

.code9 {
	background-image: url(../img/weather-bg/light-rain.jpg);
}

.code10 {
	background-image: url(../img/weather-bg/freezing-rain.jpg);
}

.code11 {
	background-image: url(../img/weather-bg/rain.jpg);
}

.code12 {
	background-image: url(../img/weather-bg/rain.jpg);
}

.code13 {
	background-image: url(../img/weather-bg/snow.jpg);
}

.code14 {
	background-image: url(../img/weather-bg/snow.jpg);
}

.code15 {
	background-image: url(../img/weather-bg/snow.jpg);
}

.code16 {
	background-image: url(../img/weather-bg/snow.jpg);
}

.code17 {
	background-image: url(../img/weather-bg/hail.jpg);
}

.code18 {
	background-image: url(../img/weather-bg/sleet.jpg);
}

.code19 {
	background-image: url(../img/weather-bg/dust.jpg);
}

.code20 {
	background-image: url(../img/weather-bg/fog.jpg);
}

.code21 {
	background-image: url(../img/weather-bg/haze.jpg);
}

.code22 {
	background-image: url(../img/weather-bg/smoke.jpg);
}

.code23 {
	background-image: url(../img/weather-bg/wind.jpg);
}

.code24 {
	background-image: url(../img/weather-bg/wind.jpg);
}

.code25 {
	background-image: url(../img/weather-bg/cold.jpg);
}

.code26 {
	background-image: url(../img/weather-bg/cloudy.jpg);
}

.code27 {
	background-image: url(../img/weather-bg/mostly-cloudy-night.jpg);
}

.code28 {
	background-image: url(../img/weather-bg/mostly-cloudy-day.jpg);
}

.code29 {
	background-image: url(../img/weather-bg/partly-cloudy-night.jpg);
}

.code30 {
	background-image: url(../img/weather-bg/partly-cloudy-day.jpg);
}

.code31 {
	background-image: url(../img/weather-bg/clear-night.jpg);
}

.code32 {
	background-image: url(../img/weather-bg/sunny.jpg);
}

.code33 {
	background-image: url(../img/weather-bg/clear-night.jpg);
}

.code34 {
	background-image: url(../img/weather-bg/clear-day.jpg);
}

.code35 {
	background-image: url(../img/weather-bg/sleet.jpg);
}

.code36 {
	background-image: url(../img/weather-bg/hot.jpg);
}

.code37 {
	background-image: url(../img/weather-bg/thunderstorm.jpg);
}

.code38 {
	background-image: url(../img/weather-bg/thunderstorm.jpg);
}

.code39 {
	background-image: url(../img/weather-bg/thunderstorm.jpg);
}

.code40 {
	background-image: url(../img/weather-bg/light-rain.jpg);
}

.code41 {
	background-image: url(../img/weather-bg/snow.jpg);
}

.code42 {
	background-image: url(../img/weather-bg/snow.jpg);
}

.code43 {
	background-image: url(../img/weather-bg/snow.jpg);
}

.code44 {
	background-image: url(../img/weather-bg/partly-cloudy-day.jpg);
}

.code45 {
	background-image: url(../img/weather-bg/thunderstorm.jpg);
}

.code46 {
	background-image: url(../img/weather-bg/snow.jpg);
}

.code47 {
	background-image: url(../img/weather-bg/thunderstorm.jpg);
}