<div class="nav left" {{action previous target="view.parentView"}}><span><i class="icon-circle-arrow-left icon-3x"></i></span></div>
<div class="nav right" {{action next target="view.parentView"}}><span><i class="icon-circle-arrow-right icon-3x"></i></span></div>