{{require "views/Weather.ForecastTile"}}

{{#with view.content}}
	<div class="container">
		<div class="location">{{location}}</div>
		<div class="temp">{{temp}}&deg;</div>
		<div class="condition">{{condition}}</div>
		<div class="humidity"><strong>Humidity: </strong>{{humidity}}%</div>
		<div class="wind"><strong>Wind: </strong>{{{wind}}} mph</div>
		
		<div class="strut"></div>
		<div class="forecast-container">
			<div class="forecast">
				{{#each forecast}}
					{{#view Weather.ForecastTile}}
						<span class="forecast-item-content">
							<h1>{{view.dateText}}</h1>
							<span class="temp-high">{{high}}&deg;</span>
							<span class="temp-low">{{low}}&deg;</span>
							<span class="forecast-condition">{{text}}</span>
						</span>
					{{/view}}
				{{/each}}
			</div>
		</div>
	</div>
{{/with}}